.HomePage {
    text-align: left;
    width: 100%;
    display: flex;
  }

.Home-background {
    background-color: #1c1c1c;
    min-height: 140vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #1c1c1c;
 }

  
  
  